<div id="<%= dom_id book %>" class="scaffold_record">
  <p>
    <strong>Name:</strong>
    <%= book.name %>
  </p>

  <p>
    <strong>User:</strong>
    <%= book.user_id %>
  </p>

  <p>
    <%= link_to "Show this book", book %>
  </p>
</div>
